@media (max-width: 48rem) {
  .container {
    gap: 1rem;
  }
  .wrapper_icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .wrapper_icon img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%;
  }
}
