.input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 28px;
  background: #a729f5;
  display: block;
  border-radius: 100px;
  position: relative;
}

.label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.input:checked + .label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.label:active:after {
  width: 32px;
}

@media (max-width: 48rem) {
  .container {
    gap: 0.5rem;
  }
  .label {
    width: 2rem;
    height: 1.25rem;
  }
  .label:after {
    width: 0.75rem;
    height: 0.75rem;
  }
  .label:active:after {
    width: 1.125rem;
  }
  .icon {
    width: 1rem;
    height: 1rem;
  }
}
